<div class="container">
   <div class="card stories"> 
    <h4>STORY NAME</h4>
    <p class='desc'>Delete after api setup Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quibusdam, nulla suscipit dignissimos ab quod vel consequuntur quae dolores excepturi maxime fugiat modi illo reiciendis molestias et mollitia non ut Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, accusamus! Eos, nulla. Expedita fuga aliquam voluptatum, earum quod odio quidem minima, sequi consequuntur, perspiciatis nam! Neque cum non odit nesciunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi excepturi rem eligendi voluptatibus earum corrupti assumenda architecto, ad incidunt modi, harum eum possimus in beatae! Sint exercitationem odit hic aliquid. </p>
    <h4>By Anon</h4>
  </div>

</div>